In [1]:
import mne
import os
import os.path as op
import pandas as pd

In [34]:
original_dir_covert = "/pasteur/zeus/projets/p02/BCOM/BCOM/DATA_ANALYZED/EVOKED/DATA/WITHOUT_BADS/OVERT"

In [35]:
epoch_dataframe_original_covert = pd.DataFrame({"syllable": [],
                                "count": []})

In [173]:
epoch = mne.read_epochs(os.path.join(original_dir_covert, "BCOM_01_2_a_12-epo.fif"))

Reading /pasteur/zeus/projets/p02/BCOM/BCOM/DATA_ANALYZED/EVOKED/DATA/WITHOUT_BADS/OVERT/BCOM_01_2_a_12-epo.fif ...
    Found the data of interest:
        t =    -300.00 ...     500.00 ms
        0 CTF compensation matrices available
Not setting metadata
1 matching events found
No baseline correction applied
0 projection items activated

In [174]:
epoch.events

array([[197451,      0,     12]], dtype=int32)

In [160]:
epochs_new = mne.read_epochs("/pasteur/zeus/projets/p02/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_18_2_a_12-epo.fif")

Reading /pasteur/zeus/projets/p02/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_18_2_a_12-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
19 matching events found
No baseline correction applied
0 projection items activated

In [153]:
epochs_new.events

array([[ 28850,      0,     12],
       [ 37588,      0,     12],
       [ 38393,      0,     12],
       [ 79965,      0,     12],
       [117416,      0,     12],
       [141776,      0,     12],
       [173618,      0,     12],
       [189029,      0,     12],
       [229583,      0,     12],
       [266833,      0,     12],
       [279714,      0,     12],
       [281323,      0,     12],
       [298765,      0,     12],
       [309461,      0,     12],
       [318011,      0,     12],
       [318816,      0,     12],
       [326318,      0,     12],
       [358976,      0,     12],
       [359779,      0,     12]], dtype=int32)

In [61]:
raw = mne.io.read_raw_bti('/pasteur/zeus/projets/p02/BCOM/BCOM/DATA_RAW/BCOM_01/MEG/BCOM_01/BCom/04%15%19@03_49/2/c,rfDC')

Reading 4D PDF file /pasteur/zeus/projets/p02/BCOM/BCOM/DATA_RAW/BCOM_01/MEG/BCOM_01/BCom/04%15%19@03_49/2/c,rfDC...
Creating Neuromag info structure ...
... Setting channel info structure.
... putting coil transforms in Neuromag coordinates
... Reading digitization points from /pasteur/zeus/projets/p02/BCOM/BCOM/DATA_RAW/BCOM_01/MEG/BCOM_01/BCom/04%15%19@03_49/2/hs_file
Currently direct inclusion of 4D weight tables is not supported. For critical use cases please take into account the MNE command "mne_create_comp_data" to include weights as printed out by the 4D "print_table" routine.

In [125]:
events = mne.find_events(raw,
                         consecutive=True,
                         shortest_event=1,
                         output="onset"
                        )
events

Trigger channel STI 014 has a non-zero initial value of 512 (consider using initial_event=True to detect this event)
Removing orphaned offset at the beginning of the file.
1576 events found on stim channel STI 014
Event IDs: [  2   4  12  14  16  22  24  26  32  34  36  42  44  46  52  54  56  62
  64  66 112 114 116 122 124 126 132 134 136 142 144 146 152 154 156 162
 164 166 512 514 516 524 526 528 534 536 538 544 546 548 554 556 558 564
 566 568 574 576 578 624 626 628 634 636 638 644 646 648 654 656 658 664
 666 668 674 676 678]

array([[  29244,       0,     512],
       [  74640,       0,       2],
       [  74806,       2,     514],
       ...,
       [1527589,       0,     132],
       [1527746,     132,     644],
       [1528410,     644,     512]], shape=(1576, 3))

In [126]:
a_112 = [event for event in events if event[2]== 112]
a_12 = [event for event in events if event[2]==12]

In [127]:
len(a_12)

19

In [36]:
gaia_covert_epochs = pd.DataFrame({"syllable": [],
                                   "count": []})

for file in os.listdir(gaia_dir_covert):
    
    if "BCOM" in file:

        file_path = op.join(gaia_dir_covert, file)
        syllable = file[10:].split("-")[0]

        epochs = mne.read_epochs(file_path, verbose=False)
        count = len(epochs.events)

        if syllable not in gaia_covert_epochs['syllable'].values:
            gaia_covert_epochs = pd.concat([gaia_covert_epochs, pd.DataFrame({"syllable": [syllable], "count": [count]})], ignore_index=True)
        else: 
            gaia_covert_epochs.loc[gaia_covert_epochs['syllable'] == syllable, 'count'] += count

NameError: name 'gaia_dir_covert' is not defined

In [103]:
gaia_covert_epochs['count'].sum()

24744.0

In [56]:
for file in os.listdir(original_dir_covert):
    
    if "BCOM" in file:

        file_path = op.join(original_dir_covert, file)
        syllable = file[10:].split("-")[0]

        epochs = mne.read_epochs(file_path, verbose=False)
        count = len(epochs.events)

        if syllable not in epoch_dataframe_original_covert['syllable'].values:
            epoch_dataframe_original_covert = pd.concat([epoch_dataframe_original_covert, pd.DataFrame({"syllable": [syllable], "count": [count]})], ignore_index=True)
        else: 
            epoch_dataframe_original_covert.loc[epoch_dataframe_original_covert['syllable'] == syllable, 'count'] += count

In [65]:
original_covert_counts = epoch_dataframe_original_covert.sort_values(by='syllable')['count']

In [66]:
new_covert_counts = epoch_dataframe_new_covert.sort_values(by='syllable')['count']

In [ ]:
epoch_dataframe_original_covert.sort_values(by='syllable')

   syllable  count
13    a_112  792.0
33     a_12  784.0
7     e_114  673.0
3      e_14  664.0
5     i_116  739.0
23     i_16  731.0
28   la_122  827.0
31    la_22  823.0
14   le_124  351.0
17    le_24  352.0
32   li_126  740.0
0     li_26  728.0
1    ma_132  918.0
6     ma_32  910.0
22   me_134  734.0
8     me_34  718.0
15   mi_136  795.0
21    mi_36  783.0
18   ra_142  776.0
26    ra_42  777.0
9    re_144  652.0
12    re_44  649.0
27   ri_146  772.0
25    ri_46  762.0
34   sa_152  491.0
10    sa_52  491.0
19   se_154  469.0
24    se_54  465.0
2    si_156  653.0
11    si_56  648.0
29   ta_162  722.0
20    ta_62  718.0
16   te_164  698.0
30    te_64  691.0
4    ti_166  620.0
35    ti_66  628.0

In [77]:
epoch_dataframe_new_covert.sort_values(by='syllable')

   syllable  count
9     a_112  829.0
31     a_12  824.0
34    e_114  693.0
2      e_14  690.0
35    i_116  755.0
18     i_16  754.0
25   la_122  861.0
29    la_22  858.0
4    le_124  364.0
8     le_24  364.0
30   li_126  758.0
21    li_26  755.0
0    ma_132  944.0
6     ma_32  943.0
15   me_134  751.0
23    me_34  742.0
5    mi_136  807.0
13    mi_36  807.0
10   ra_142  794.0
22    ra_42  791.0
1    re_144  669.0
26    re_44  662.0
24   ri_146  796.0
20    ri_46  789.0
32   sa_152  504.0
3     sa_52  501.0
12   se_154  489.0
19    se_54  485.0
11   si_156  658.0
16    si_56  655.0
27   ta_162  700.0
17    ta_62  696.0
7    te_164  678.0
28    te_64  676.0
14   ti_166  619.0
33    ti_66  614.0

In [88]:
epoch_dataframe_original_covert.sort_values(by='syllable')['syllable']

13     a_112
33      a_12
7      e_114
3       e_14
5      i_116
23      i_16
28    la_122
31     la_22
14    le_124
17     le_24
32    li_126
0      li_26
1     ma_132
6      ma_32
22    me_134
8      me_34
15    mi_136
21     mi_36
18    ra_142
26     ra_42
9     re_144
12     re_44
27    ri_146
25     ri_46
34    sa_152
10     sa_52
19    se_154
24     se_54
2     si_156
11     si_56
29    ta_162
20     ta_62
16    te_164
30     te_64
4     ti_166
35     ti_66
Name: syllable, dtype: object

In [ ]:
comparison = pd.DataFrame({
    "syllable": epoch_dataframe_original_covert.sort_values(by='syllable')['syllable'], 
    "old_count": epoch_dataframe_original_covert.sort_values(by='syllable')['count'],
}).sort_values(by="syllable").reset_index(drop=True)

In [93]:
comparison['new_count'] = comparison['syllable'].map(
    epoch_dataframe_new_covert.set_index('syllable')['count']
)

In [95]:
comparison['dif'] = comparison['new_count'] - comparison['old_count']
comparison

   syllable  old_count  new_count   dif
0     a_112      792.0      829.0  37.0
1      a_12      784.0      824.0  40.0
2     e_114      673.0      693.0  20.0
3      e_14      664.0      690.0  26.0
4     i_116      739.0      755.0  16.0
5      i_16      731.0      754.0  23.0
6    la_122      827.0      861.0  34.0
7     la_22      823.0      858.0  35.0
8    le_124      351.0      364.0  13.0
9     le_24      352.0      364.0  12.0
10   li_126      740.0      758.0  18.0
11    li_26      728.0      755.0  27.0
12   ma_132      918.0      944.0  26.0
13    ma_32      910.0      943.0  33.0
14   me_134      734.0      751.0  17.0
15    me_34      718.0      742.0  24.0
16   mi_136      795.0      807.0  12.0
17    mi_36      783.0      807.0  24.0
18   ra_142      776.0      794.0  18.0
19    ra_42      777.0      791.0  14.0
20   re_144      652.0      669.0  17.0
21    re_44      649.0      662.0  13.0
22   ri_146      772.0      796.0  24.0
23    ri_46      762.0      789.0  27.0
24   sa_152      491.0      504.0  13.0
25    sa_52      491.0      501.0  10.0
26   se_154      469.0      489.0  20.0
27    se_54      465.0      485.0  20.0
28   si_156      653.0      658.0   5.0
29    si_56      648.0      655.0   7.0
30   ta_162      722.0      700.0 -22.0
31    ta_62      718.0      696.0 -22.0
32   te_164      698.0      678.0 -20.0
33    te_64      691.0      676.0 -15.0
34   ti_166      620.0      619.0  -1.0
35    ti_66      628.0      614.0 -14.0

In [97]:
old_count_total = comparison['old_count'].sum()
old_count_total

24744.0

In [99]:
new_count_total = comparison['new_count'].sum()
new_count_total

25275.0

In [52]:
epoch_dataframe_original_overt = pd.DataFrame({"syllable": [],
                                "count": []})
for file in os.listdir(original_dir_overt):
    
    if "BCOM" in file:
        file_path = op.join(original_dir_overt, file)
        syllable = file[10:].split("-")[0]

        epochs = mne.read_epochs(file_path, verbose=False)
        count = len(epochs.events)

        if syllable not in epoch_dataframe_original_overt['syllable'].values:
            epoch_dataframe_original_overt = pd.concat([epoch_dataframe_original_overt, pd.DataFrame({"syllable": [syllable], "count": [count]})], ignore_index=True)
        else: 
            epoch_dataframe_original_overt.loc[epoch_dataframe_original_overt['syllable'] == syllable, 'count'] += count

In [54]:
epoch_dataframe_original_overt

   syllable  count
0    ta_162   36.0
1     re_44   39.0
2     ma_32  100.0
3      a_12  101.0
4    le_124   75.0
5      i_16   37.0
6    ti_166  115.0
7     mi_36  118.0
8    sa_152   91.0
9     le_24   76.0
10   me_134   60.0
11   ma_132   87.0
12   te_164   76.0
13   ri_146   19.0
14   la_122   86.0
15   mi_136  114.0
16    li_26   82.0
17    ri_46   19.0
18    sa_52   96.0
19    la_22   97.0
20   ra_142   57.0
21   li_126   81.0
22    te_64   81.0
23    ra_42   56.0
24    ti_66  115.0
25    e_114   41.0
26    a_112  100.0
27     e_14   38.0
28    i_116   42.0
29    ta_62   39.0
30   re_144   39.0
31    me_34   57.0

In [2]:
new_covert = "/pasteur/zeus/projets/p02/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT"
new_overt = "/pasteur/zeus/projets/p02/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/OVERT"

In [3]:
epoch_dataframe_new_covert = pd.DataFrame({"syllable": [],
                                "count": []})
epoch_dataframe_new_overt = pd.DataFrame({"syllable": [],
                                "count": []})

In [4]:
for file in os.listdir(new_covert):
    
    if "BCOM" in file:
        file_path = op.join(new_covert, file)
        syllable = file[10:].split("-")[0]

        epochs = mne.read_epochs(file_path, verbose=False)
        count = len(epochs.events)

        if syllable not in epoch_dataframe_new_covert['syllable'].values:
            epoch_dataframe_new_covert = pd.concat([epoch_dataframe_new_covert, pd.DataFrame({"syllable": [syllable], "count": [count]})], ignore_index=True)
        else: 
            epoch_dataframe_new_covert.loc[epoch_dataframe_new_covert['syllable'] == syllable, 'count'] += count

In [22]:
df = epoch_dataframe_new_covert

In [32]:
df_produce = df[df['syllable'].
               str.split('_').str[1].str.len()==3
               ]
totals_produce = [
    ["a", 0],
    ["e", 0],
    ["i", 0]
]
for row, col in df_produce.iterrows():
    for vowel in totals_produce:
        if vowel[0] in col['syllable']:
            vowel[1] += col['count']
            
totals_produce

[['a', 4631.0], ['e', 3655.0], ['i', 4420.0]]

In [33]:
df_read = df[df['syllable'].
            str.split('_').str[1].str.len()==2
            ]
totals_read = [
    ["a", 0],
    ["e", 0],
    ["i", 0]
]
for row, col in df_read.iterrows():
    for vowel in totals_read:
        if vowel[0] in col['syllable']:
            vowel[1] += col['count']
            
totals_read

[['a', 5084.0], ['e', 3924.0], ['i', 4760.0]]

In [7]:
for file in os.listdir(new_overt):

    if "BCOM" in file:
    
        file_path = op.join(new_overt, file)
        syllable = file[10:].split("-")[0]

        epochs = mne.read_epochs(file_path, verbose=False)
        count = len(epochs.events)

        if syllable not in epoch_dataframe_new_overt['syllable'].values:
            epoch_dataframe_new_overt = pd.concat([epoch_dataframe_new_overt, pd.DataFrame({"syllable": [syllable], "count": [count]})], ignore_index=True)
        else: 
            epoch_dataframe_new_overt.loc[epoch_dataframe_new_overt['syllable'] == syllable, 'count'] += count

In [10]:
epoch_dataframe_new_overt['count'].sum()

np.float64(1157.0)

In [167]:
epoch_dataframe_new_overt

   syllable  count
0    sa_152   95.0
1    ra_142   56.0
2    le_124   78.0
3    te_164   73.0
4    la_122   91.0
5     a_112   98.0
6    mi_136  118.0
7     i_116   40.0
8    ri_146   20.0
9    me_134   56.0
10   ti_166  115.0
11   li_126   77.0
12    e_114   39.0
13   ta_162   37.0
14   re_144   42.0
15   ma_132   91.0
16   se_154    1.0

In [168]:
epoch_dataframe_new_overt['count'].sum()

np.float64(1127.0)

In [113]:
# Find the disjunction (symmetric difference) of the 'syllable' columns
disjunction = set(epoch_dataframe_original_overt['syllable']).symmetric_difference(
    set(epoch_dataframe_new_overt['syllable'])
)

# Convert the result back to a list or any desired format
disjunction_list = list(disjunction)
print(disjunction_list)

['se_54', 'se_154']

In [114]:
print(epoch_dataframe_original_overt['count'].sum())
print(epoch_dataframe_new_overt['count'].sum())

2270.0
3188.0

In [115]:
comparison_overt = pd.DataFrame({
    "syllable": epoch_dataframe_original_overt.sort_values(by='syllable')['syllable'], 
    "old_count": epoch_dataframe_original_overt.sort_values(by='syllable')['count'],
}).sort_values(by="syllable").reset_index(drop=True)

comparison_overt['new_count'] = comparison_overt['syllable'].map(
    epoch_dataframe_new_overt.set_index('syllable')['count']
)

comparison_overt['dif'] = comparison_overt['new_count'] - comparison_overt['old_count']
comparison_overt

   syllable  old_count  new_count    dif
0     a_112      100.0      101.0    1.0
1      a_12      101.0      104.0    3.0
2     e_114       41.0       63.0   22.0
3      e_14       38.0       60.0   22.0
4     i_116       42.0       63.0   21.0
5      i_16       37.0       60.0   23.0
6    la_122       86.0       99.0   13.0
7     la_22       97.0      106.0    9.0
8    le_124       75.0       81.0    6.0
9     le_24       76.0       81.0    5.0
10   li_126       81.0       97.0   16.0
11    li_26       82.0      101.0   19.0
12   ma_132       87.0       99.0   12.0
13    ma_32      100.0      103.0    3.0
14   me_134       60.0       56.0   -4.0
15    me_34       57.0       56.0   -1.0
16   mi_136      114.0      224.0  110.0
17    mi_36      118.0      227.0  109.0
18   ra_142       57.0       75.0   18.0
19    ra_42       56.0       77.0   21.0
20   re_144       39.0      126.0   87.0
21    re_44       39.0      123.0   84.0
22   ri_146       19.0       60.0   41.0
23    ri_46       19.0       60.0   41.0
24   sa_152       91.0      168.0   77.0
25    sa_52       96.0      179.0   83.0
26   ta_162       36.0       37.0    1.0
27    ta_62       39.0       39.0    0.0
28   te_164       76.0       73.0   -3.0
29    te_64       81.0       79.0   -2.0
30   ti_166      115.0      115.0    0.0
31    ti_66      115.0      112.0   -3.0

In [7]:
repoched_BCOM_01_2 = "/Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT"
prepoched_BCOM_01_2 = "/Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT"

In [9]:
pre_bcom_01_2_count = 0
for file in os.listdir(prepoched_BCOM_01_2):
    if "BCOM_01_2" in file:
        epochs = mne.read_epochs(os.path.join(prepoched_BCOM_01_2, file))
        count = len(epochs.events)

        pre_bcom_01_2_count += count

pre_bcom_01_2_count

Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_le_24-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
7 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_si_156-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
6 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_ma_32-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
18 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_ma_132-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
18 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_te_64-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
10 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_re_144-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
8 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_ri_146-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
13 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_ri_46-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
13 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_mi_36-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
11 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_a_112-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
17 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_ta_162-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
13 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_le_124-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
7 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_ti_66-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
6 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_ra_142-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
14 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_ti_166-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
6 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_e_14-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_sa_52-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
13 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_la_122-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
16 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_se_154-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
5 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_me_134-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_ta_62-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
13 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_li_26-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
14 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_ra_42-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
14 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_sa_152-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
13 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_me_34-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_se_54-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
5 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_mi_136-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
11 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_li_126-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
14 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_la_22-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
16 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_e_114-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_re_44-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
8 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_i_116-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_si_56-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
6 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_i_16-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_a_12-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
17 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/data/WITHOUT_BADS/COVERT/BCOM_01_2_te_164-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
10 matching events found
No baseline correction applied
0 projection items activated

414

In [4]:
bcom_01_2_count = 0
for file in os.listdir(repoched_BCOM_01_2):
    epochs = mne.read_epochs(os.path.join(repoched_BCOM_01_2, file))
    count = len(epochs.events)

    bcom_01_2_count += count

Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_li_126-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
14 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_la_22-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
2 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_e_114-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_re_44-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
8 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_i_116-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_si_56-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
6 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_i_16-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_a_12-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
2 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_te_164-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
10 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_sa_152-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
13 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_me_34-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_se_54-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
5 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_mi_136-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
11 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_ta_62-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
1 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_li_26-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
1 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_ra_42-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
14 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_ta_162-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
13 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_le_124-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
7 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_ti_66-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
4 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_ra_142-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
14 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_ti_166-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
6 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_e_14-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_sa_52-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
13 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_la_122-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
16 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_se_154-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
5 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_me_134-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
12 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_re_144-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
8 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_ri_146-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
13 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_ri_46-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
1 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_mi_36-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
11 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_a_112-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
17 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_le_24-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
1 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_si_156-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
6 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_ma_32-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
3 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_ma_132-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
18 matching events found
No baseline correction applied
0 projection items activated
Reading /Volumes/BCOM/ciprian_project/data_analyzed/non_normalized/epoch_test/WITHOUT_BADS/COVERT/BCOM_01_2_te_64-epo.fif ...
    Found the data of interest:
        t =    -400.00 ...     800.00 ms
        0 CTF compensation matrices available
Not setting metadata
2 matching events found
No baseline correction applied
0 projection items activated

317